<!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">Edit Bio <small><a routerLink="/profile">Visit Profile</a></small></h1>
            	<div class="jumbotron">
				<h4>Current Bio:</h4>
				<p>{{bio}}</p>
				</div>
				<div class="container">
				  <div class="panel panel-default">
				    <textarea class="form-control" [(ngModel)]="newBio" required></textarea>
				    <button class="btn btn-primary btn-block" (click)="updateBio(user._id, newBio)">Update Bio</button>
				  </div>
				</div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <app-sidemenu></app-sidemenu>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->