 <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

	        <h1 class="my-4">Hey! you ran in to a problem? <small>contact us and we'll get it solved!</small> </h1>
		    <textarea class="form-control" [(ngModel)]="message" required></textarea>
		    <button class="btn btn-default btn-block" (click)="send(message)">Send</button>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

    		<app-sidemenu></app-sidemenu>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->