<div class="container">
    <h1 class="page-header text-center">Login</h1>
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12">
    <div class="form-group">
        <label>E-mail</label>
        <input class="form-control" type="email" [(ngModel)]="email">
    </div>
     <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" [(ngModel)]="password">
     </div>
    <button class="btn btn-primary" (click)="login(email, password)">Login</button>
    <br><br>
    <a routerLink="/register">Don't have an account? Click here!</a>
    <br><br>
    <a routerLink="/resetpassword">Forgot your password?</a>
    </div>
</div>